exclude *.*
include changelog.txt
include docs/Features.html
include docs/UnicodeProperties.rst
include LICENSE.txt
include pyproject.toml
include README.rst
include regex/__init__.py
include regex/_main.py
include regex/_regex_core.py
include regex/tests/test_regex.py
include setup.py
include src/_regex.c
include src/_regex.h
include src/_regex_unicode.c
include src/_regex_unicode.h
include tools/build_regex_unicode.py
